@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");
a {
  text-decoration: none;
  font-weight: bold; }

li {
  list-style-type: none; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  scroll-behavior: smooth; }
